:root {
    --gray: #555555;
    --light-gray: #6c757d;
    --secondary: #555555;
    --border-radius: 0.6rem;
    --canvas-color: #f4f3ef;
}

.wrapper {
    background-color: #f4f3ef !important;
}

.lock-page, .login-page, .register-page {
    background-color:#f4f3ef !important;
}

.login-page .wrapper, .register-page .wrapper {
    min-height: 0 !important;
}

.register-page .content .container, .login-page .content .container {
    margin-top: 0 !important;
}

.login-page .content, .register-page .content {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: 80vh !important;
    padding-top: 0 !important;
}

.login-page .content .container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.login-page .content .card, .register-page .content .card {
    width: 30rem !important;
}

tbody > tr.selected {
    background-color:rgba(0, 0, 0, 0.125);
}

.navbar a.dropdown-item:hover {
    background-color:#f5f5f5 !important;
    color: #66615B!important;
    cursor: pointer;
}

.welcome-page .navbar .dropdown-menu {
    background-color:rgba(0, 0, 0, 0.5)!important;
}

.welcome-page .navbar-nav .dropdown-menu::after, 
.welcome-page .navbar-nav .dropdown-menu::before {
    border-left: 0 !important;
    border-right: 0 !important;
    border-bottom: 0 !important;
}

.welcome-page .navbar .dropdown-item {
    color: #fff!important;
}

.welcome-page .navbar .dropdown-item:hover,
.lock-page .navbar .dropdown-item:hover {
    background-color: #343a40!important;
    color: #fff!important;
}

.text-gray {
    color: var(--gray) !important;
}

.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.text-lg {
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
}

.text-xl { 
    font-size: 1.375rem;
    line-height: 2rem;
}

.icon-xs {
    height: 0.75em;
}

.icon-sm {
    height: 0.875em;
}

.icon-lg {
    height: 1.25em;
}

.icon-xl {
    height: 1.5em;
}

.icon-primary {
    filter: invert(79%) sepia(18%) saturate(1156%) hue-rotate(130deg) brightness(87%) contrast(94%);
}

.icon-warning {
    filter: invert(90%) sepia(53%) saturate(1872%) hue-rotate(314deg) brightness(101%) contrast(97%);
}

.icon-danger {
    filter: invert(71%) sepia(14%) saturate(5285%) hue-rotate(322deg) brightness(97%) contrast(93%);
}

.icon-primary:hover, .icon-warning:hover, .icon-danger:hover {
    filter: invert(100%) sepia(7%) saturate(829%) hue-rotate(304deg) brightness(114%) contrast(100%);
}

.lock-icon {
    height: 1.25em;
    filter: invert(100%) sepia(7%) saturate(829%) hue-rotate(304deg) brightness(114%) contrast(100%);
}

.unlock-icon {
    height: 1.25em;
    filter: invert(100%) sepia(7%) saturate(829%) hue-rotate(304deg) brightness(114%) contrast(100%);
}

.text-spacing-1 {
    letter-spacing: 0.025rem;
}

.text-spacing-2 {
    letter-spacing: 0.05rem;
}

.text-spacing-3 {
    letter-spacing: 0.1rem;
}

.text-spacing-4 {
    letter-spacing: 0.2rem;
}

.text-spacing-5 {
    letter-spacing: 0.4rem;
}

.float-up {
    transition: transform .4s; /* Animation */
}

.float-up:hover {
    transform: translate(-50%, -75%)!important; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    cursor: pointer;
}

.list-group-item.active {
    border-color: #e9ecef !important;
    background-color: #e9ecef !important;
    color: var(--gray);
}

.category-edit-btn, .category-delete-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: #6c757d;
    text-align: center;
    height: 1.5em;
}

.hr-text::before {
    content: '';
    background: #6c757d;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

.hr-text::after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: #6c757d;
    padding: 0 0.5em;
    line-height: 1.5em;
    background-color: #fff;
}

#package-menu {
    max-height: 18rem;
    overflow-y: auto;
}

#package-info {
    height: 5rem;
    max-height: 5rem;
}

.pagination .page-item.active .page-link {
    background-color: #e9ecef !important;
    border-color: #e9ecef !important;
}

.pagination .page-item .page-link {
    color: var(--gray);
}


.breadcrumb-item, .breadcrumb-item a {
    color: var(--gray);
}

.breadcrumb-item.active {
    color: black !important;
}

.btn-outline-light {
    background-color: #fff;
    border: 1px solid #e9ecef !important;
    color: var(--gray);
}

.btn-outline-light.active {
    background-color: #e9ecef !important;
    color: var(--gray);
}

.btn-outline-light.focus {
    background-color: #343a40 !important;
    color: #e9ecef !important;
}

.btn-outline-light:hover {
    background-color: var(--gray);
    color: #e9ecef !important;
}

ol.breadcrumb {
    background-color: white !important;
    border-radius: var(--border-radius);
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.input-group-icon {
    position: relative;
}

.input-icon {
    background-color: #e9ecef;
    color: #6c757d;
    position: absolute !important; 
    display: flex !important; 
    align-items: center !important; 
    top: 0px !important; 
    right: 0px !important; 
    bottom: 0px !important;
    padding-right: .8rem;
    padding-left: .8rem;
    border: 1px solid #dee2e6;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.footer {
    position: static !important;
    color: white !important;
    background-color: #343a40 !important;
}

.navbar > .container-fluid {
    display: block;
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/************************ Mobile View ************************/

@media screen and (max-width: 991px){
    .navbar {
        padding: 0.5rem 1rem !important;
    }

    .navbar-center {
        position: static !important;
        left: 0 !important;
        transform: none !important;
    }

    .login-page, .register-page, .login-page .wrapper, .register-page .wrapper {
        background-color: white !important;
    }

    .login-page .card, .register-page .card {
        border: none !important;
        border-radius: var(--border-radius);
        box-shadow: none !important;
    }

    .login-page .card > div, .register-page .card > div {
        padding: 0 !important;
    }

    .login-page .card button, .register-page .card button {
        display: block !important;
        width: 100% !important;
    }

    #price-range, [for="price-range"] {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    body > nav > #navigation.collapse:not(.show){
        display: block !important;
    }

    body > nav > #navigation.collapsing {
        position: static !important;
    }

    body > nav > #navigation.collapse:not(.show) :is(.navbar-nav.navbar-center, .navbar-nav.ml-auto .nav-item:nth-child(2)){
        display: none !important;
    }

    body > nav > #navigation .navbar-nav.ml-auto .nav-item:first-child {
        position: absolute !important;
        display: flex !important;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        top: 0;
        right: 0;
        padding: 0.4rem 1rem !important;
    }

    body > nav > #navigation .navbar-nav.navbar-center:after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: gray;
        margin: .8rem 0 .8rem 0;
    }


    .navbar .navbar-nav .nav-link {
        margin-right: 0!important;
    }

    body > nav .navbar-toggler-bar {
        background: #fff !important;
    }

    .dropdown-menu-right[aria-labelledby="navbarDropdownMenuLink2"] {
        position: absolute !important;
        top: 3.5rem;
        z-index: 1000;
    }

    .dropdown-menu-right .dropdown-menu.dropdown-menu-right {
        margin: 0 !important;
    }

    a.nav-link.dropdown-toggle i {
        display: none !important;
    }

    body > nav > #navigation a.nav-link.dropdown-toggle:before {
        content: 'Account';
        margin-right: .4rem;
    }

    body > nav > #navigation .ml-auto .nav-item:nth-child(2) .nav-link:not(.dropdown-toggle):after {
        content: 'Login';
        margin-right: .4rem;
    }

    body > nav > #navigation .ml-auto .nav-item:nth-child(2) .nav-link:not(.dropdown-toggle) img{
        display: none !important;
    }

    body > nav > #navigation .dropdown-menu{
        background-color: rgba(0, 0, 0, 0.5)!important;
    }

    body > nav > #navigation .dropdown-menu .dropdown-item {
        color: #FFF !important;
    }

    body > nav > #navigation .dropdown-menu-right {
        right: auto !important;
        left: 1rem !important;
    }
    
    body > nav > #navigation .dropdown-menu-right:after{
        right: auto !important;
        left: 1rem !important;
        border-bottom: 11px solid black;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        opacity: .5;
    }

    body > nav.bg-dark #navigation .dropdown-menu {
        background-color: #FFF !important;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    }

    body > nav.bg-dark #navigation .dropdown-menu-right:after{
        border-bottom: 11px solid #FFF;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        opacity: 1;
    }

    body > nav.bg-dark #navigation .dropdown-menu .dropdown-item {
        color: #66615B !important;
    }

    body > nav.bg-dark #navigation .dropdown-menu .dropdown-item:hover {
        color: #FFF !important;
    }

    /* Dashboard */

    .main-panel nav .nav-link {
        color:rgba(0, 0, 0, 0.5) !important;
        padding: 0!important;
    }

    .main-panel nav {
        box-shadow: none;
    }

    .chartAreaWrapper {
        max-height: 50vh !important;
        overflow-x: auto !important;
    }

    body:has(#navigation.show) #nav-auth {
        background-color: white !important;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    }

    .order-container .card {
        width: 100% !important; 
    }

    .order-body {
        display: grid;
        margin-top: 1rem;
        grid-template-columns: 1fr !important;
        gap: 1.5rem !important;
    }

    /* .filter-wrapper {
        position: relative;
    } */

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: 999;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
    }

    .filter-wrapper #filter::after {
        content: '';
        background-color: #343a40;
        height: 100vh;
        width: 100%;
    }

    .filter-wrapper #filter {
        position: fixed;
        bottom: 0;
        left: 0;
        margin-bottom: 0 !important;
        z-index: 1000;
        width: 100%;
        display: none;
    }

    .search-container {
        width: 100%;
        display: none;
    }

    .search-container-mobile {
        display: flex !important;
        align-items: center;
        margin-bottom: 1rem;
    }

    .search-container-mobile .w-100 {
        position: relative;
    }

    .search-container-mobile .input-group:has(.search) {
        margin-bottom: 0 !important;
    }

    .search-container-mobile .search-box {
        right: auto !important;
    }

    .btn-light {
        background-color: #FFF;
        color: #66615b;
        border: 1px solid #DDDDDD;
        border-radius: 0.2rem !important;
        margin: 0;
        margin-left: 0.3rem;
        padding: 0.65rem;
    }

}
/**************************************************************/

.dropdown-menu-right.show {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.dropdown-menu-right.show:before {
    display: none;
}

.navbar-nav.logo{
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
}

.lock-page .navbar {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.sidebar[data-color="black"]:after,
.off-canvas-sidebar[data-color="black"]:after {
  background: #343a40 !important;
}

.navbar .nav-item .nav-link img:not([alt="Logo"]) {
    height: 17px !important;
}

.navbar-nav .nav-link i.fa, .navbar-nav .nav-link i.nc-icon {
    opacity: 1 !important;
}

.card {
    border-radius: var(--border-radius);
    border: none !important;
}

#price-filter button:not(:hover){
    color: var(--gray) !important;
    border: 1px solid #e9ecef !important;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

#low-high-btn {
    border-top-left-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
    border-top-right-radius: 0rem!important;
    border-bottom-right-radius: 0rem!important;
}

#high-low-btn {
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
    border-top-left-radius: 0rem!important;
    border-bottom-left-radius: 0rem!important;
}

.card-stats .card-footer .stats {
    display: flex !important;
    align-items: center !important;
}

.card-stats .card-footer .stats i {
    margin-right: 0.5rem!important;
}

.card-stats .card-title {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

#nav-auth a.nav-link {
    color: var(--gray);
}

#nav-auth a.nav-link:hover {
    color: #17a2b8 !important;
}

.order-container {
    height: 100% !important;
    max-height: calc(100vh - 14rem) !important;
    overflow-y: auto;
    overflow-x: hidden;
}

.chartWrapper {
    position: relative !important;
}

.chartWrapper > canvas {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    pointer-events: none;
}

.user-wrapper {
    display: flex;
    justify-content: center;
}

.user-image {
    position: relative;
    width: fit-content;
    width: -moz-fit-content;
    justify-content: center;
}

.user-image span {
    position: absolute;
    bottom: .7rem; 
    right: -1.8rem;
    padding: .2rem;
    cursor: pointer;
}

.user-image span svg:hover{
    stroke: black;
}

#file-chosen{
    font-family: sans-serif;
    width: 5rem !important;
    text-overflow: ellipsis;
}

[for*="upload-btn"] {
    color: rgba(0,0,0,.5) !important;
    border: 1px solid rgba(0,0,0,.4) !important;
}

[for*="upload-btn"]:hover {
    color: #FFF !important;
}

button[value="Upload"] {
    padding: 1rem;
    margin-left: 1rem;
    line-height: 0;
}

.rounded {
    border-radius: var(--border-radius) !important;
}

.order-container .card {
    color: var(--gray);
}

.order-cater-info p {
    margin-bottom: .3rem !important;
}

.order-cater-info tr td:first-child {
    vertical-align: text-top !important;
    padding-right: 2.5rem !important;
}

.order-body {
    display: grid;
    margin-top: 1rem;
    grid-template-columns: 1fr 1fr;
    gap: 0 1.5rem;
}

.order-package {
    padding: 1rem;
    border: 1px solid #e9ecef !important;
    border-radius: var(--border-radius);
    background-color: #f7f7f9;
}

.order-details h6{
    text-transform: none !important;
}

.order-summary table{
    width: 100%;
}

.order-summary table td:last-child{
    text-align: right;
}

.order-summary .grand-total {
    font-weight: 600;
    color: var(--green);
}

.package-header {
    text-align: center;
}

.package-header .card-title {
    font-weight: 600;
}

.package hr {
    background-color: var(--warning);
}

.package {
    color: var(--gray);
}

.package .card-title {
    color: #fab526;
}

.product-details tr td {
    vertical-align: text-top !important;
    padding-right: 1rem !important;
    padding-bottom: .5rem;
}

.product-summary {
    width: 100%
}

.product-summary tr td {
    padding-bottom: .5rem;
}

.product-summary tr td:last-child {
    text-align: right;
}

.product-summary .grand-total {
    font-weight: 600;
}

.pagination {
    margin-right: 0 !important;
}

.search-container-mobile {
    display: none;
}

#filter, #filter-mobile {
    background-color: #FFFFFF !important;
    margin-bottom: 1.5rem!important;
    border-radius: 0.6rem !important; 
    border:0 !important; 
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
    width: auto;
}

.occasion-filter p {
    position: relative;
}

.filter-item {
    padding: 1rem !important;
}

.filter-item p:after {
    position: relative;
    top: 0 !important;
    display: flex;
    align-self: center;
}

.filter-item .filter-body{
    margin-top: 1rem;
}

.filter-header {
    display: flex !important;
    color: #6c757d!important;
    margin: 0;
}

#slider {
    margin-left: .5rem;
    margin-right: .5rem;
}

.ui-slider-handle {
    top: -0.25em !important;
    width: 1rem !important;
    height: 1rem !important;
}

.input-file {
    display: flex !important;
    align-items: center !important;
    width: 100% !important;
    border: 1px solid #DDDDDD !important;
    border-radius: 0.25rem !important;
}

.input-group-prepend .input-group-text {
    padding: 0.375rem 0.6rem !important;
    /* background-color: #e9ecef; */
    font-size: 0.9rem !important;
    line-height: 1rem !important;
}

.input-group-prepend + .form-control {
    padding-left: 0 !important;
}

.input-group .form-control:not(:first-child):not(:last-child) {
    border-radius: 0 !important;
    border-right: 0 !important;
}

.input-group-append .input-group-text {
    padding: 0.375rem 0.6rem !important;
    font-size: 0.9rem !important;
    line-height: 1rem !important;
}

.input-group:has(.search) .input-group-prepend .input-group-text {
    background-color: #fff !important;
}

.input-group .search {
    padding-left: 0 !important;
}

.input-group:has(.search) {
    margin-bottom: 0.2rem !important;
}

.search-container {
    position: relative;
}

.search-box {
    position: absolute;
    left: auto;
    right: 0;
    z-index: 1000;
    background-color: var(--white);
    border-radius: 0.2rem;
    width: 100%;
}

.search-box:has(.search-item):not(:empty) {
    border: 1px solid #DDDDDD;
}

.search-box .search-item {
    padding: 0.375rem 0.6rem !important;
}

.search-box .search-item:hover {
    background-color: #DDDDDD;
}

.search-box .search-item:not(:last-child) {
    border-bottom: 1px solid #DDDDDD;
}

.input-group-text .noeye, .input-group-text .eye {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.input-group-text .noeye:hover, .input-group-text .eye:hover {
    transform: scale(1.1);
}

.avatar {
    min-height: 7.75rem;
    min-width: 7.75rem;
}

.star-rating {
    position: relative;
    display: inline-block;
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}
  
.star-rating::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #ccc;
}
  
.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #f8ce0b;
}

.progress-rating {
    padding-top: 1rem;
}

.progress-rating .progress {
    border-radius: 1rem;
}

.progress-rating .progress .progress-bar {
    background-color: var(--warning);
}

.progress-rating .progress-wrapper {
    display: grid;
    grid-template-columns: 1rem auto;
    margin-bottom: 1rem;
}

.progress-rating .progress-wrapper p {
    margin: 0;
    line-height: normal;
}

.customer-review p, 
.customer-review h5{
    color: var(--gray);
}

.header-rating {
    display: flex;
    justify-content: center;
}

.header-rating-wrapper {
    display: flex;
    justify-content: center;
    background-color: var(--canvas-color);
    align-items: center;
    padding: .5rem 1rem;
    border-radius: 2rem;
}

/* .card-user .avatar {
    border-radius: var(--border-radius);
    border: 4px solid var(--white) !important;
} */

.card-user .author {
    margin-top: -100px !important;
}

.store-card {
    max-width: 28rem;
    max-height: 10rem;
    min-width: 100%;
    margin-bottom: 0 !important;
}

.store-card .avatar, .card-user .avatar {
    width: 7.75rem;
    height: 7.75rem;
    border-radius: var(--border-radius);
}

.store-card h5, 
.store-card td.align-middle small {
    display: inline-block;
    width: 10rem !important;
    min-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 1540px) {
    .grid-container {
        grid-template-columns: auto auto auto !important;
    }
}

@media screen and (max-width: 1180px) {
    .grid-container {
        grid-template-columns: auto auto !important;
    }
}

@media screen and (max-width: 800px) {
    .grid-container {
        grid-template-columns: auto !important;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    row-gap: 1rem;
    column-gap: 1rem;
}

.flex-gap {
    flex-wrap: wrap;
    gap: 1.5rem;
}

.btn-default {
    background-color: var(--light-gray) !important;
}

.btn-default:hover {
    background-color: var(--gray) !important;
}

.input-rating  {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}

.input-rating > input {
    display: none;
}

.input-rating > label {
    position: relative;
    width: 1.2rem;
    font-size: 1rem;
    color: var(--warning);
    cursor: pointer;
}

.input-rating > label::before{ 
    content: "\f005";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    opacity: 0;
}

.input-rating > label:hover:before,
.input-rating > label:hover ~ label:before {
  opacity: 1 !important;
}

.input-rating > input:checked ~ label:before{
    opacity:1;
}

.input-rating:hover > input:checked ~ label:before   { 
    opacity: 0.4; 
}

.nav-pills .nav-link.active {
    background-color: var(--light-gray);
}

.nav-pills .nav-link {
    color: var(--light-gray);
}

.tab-content {
    padding-top: 1rem;
}

#rating-modal .modal-header, #rating-modal .modal-footer {
    border: 0 !important;
}

.comments {
    padding: 1rem!important;
    background-color: #f8f9fa!important;
    border-radius: var(--border-radius) !important;
    margin-bottom: 1rem;
}

.comment-name {
    font-weight: 700!important;
    margin-bottom: 0.25rem!important;
}

.comment-date {
    color: #6c757d!important;
    font-weight: 500!important;
}

.comments .star-rating {
    margin-bottom: 0.8rem!important;
}

.comment-body {
    margin-bottom: 0!important;
}

.team-card .btn-xs {
    font-size: 0.7rem !important;
    border-radius: 3px !important;
    padding: 5px 8px !important;
}

.team-table td, .team-table th {
    padding-top: .3rem !important;
    padding-bottom: .3rem !important;
}

.team-table td:nth-child(1), .team-table th:nth-child(1) {
    padding-right: 1px !important;
    padding-left: 1px !important;
}

a.fav-btn {
    font-size: 0.75rem;
    line-height: 1rem;
    color: #6c757d!important;
}

a.fav-btn span::before{ 
    content: "\f004";
    font-family: "Font Awesome 6 Free";
    font-weight: 500;
}

a.fav-btn:hover span::before { 
    content: "\f004";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

a.fav-btn:hover {
    color: var(--red) !important;
    cursor: pointer;
}

a.fav-btn.active {
    color: var(--red) !important;
}

a.fav-btn.active span::before {
    font-weight: 900 !important;
}

.fav-card:hover .card {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.fav-wrapper {
    position: relative; 
    height: 25.6rem; 
    overflow-y: scroll;
}

.team-wrapper {
    position: relative; 
    height: 30.6rem; 
    overflow-y: scroll;
}

#document-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

#document-btn:hover {
    color: var(--info) !important;
}

.view-btn, .view-btn:focus, .view-btn:active {
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: var(--gray);
}

.view-btn:hover {
    color: var(--info);
}